@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #033D4D;
}
div {
	&:before, &:after {
		content: '';
		display: block;
		clear: both;
	}
}


.register_user {
	width: 50%;
	margin: auto;
	display: block;
	background: #8CC8D9;
	border: 1px solid #285360;
	padding: 10px;
	legend {
		text-align: center;
	}
}